body {
    /* copied from a website that generates CSS */
    background: #BEB154;
    background: -webkit-linear-gradient(right, #BEB154, #E54694);
    background: -moz-linear-gradient(right, #BEB154, #E54694);
    background: linear-gradient(to left, #BEB154, #E54694);
}

#container {
    border: solid black 2px;
    background-color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 500px;
    margin-right: 500px;
}